[Desktop Entry]
Name=Althar
Exec=althar %U
Terminal=false
Type=Application
Icon=dev.althar.app
StartupWMClass=dev.althar.app
Comment=Althar is an open-source environment for running software projects with AI coding agents.
Categories=Development;
